@charset "UTF-8";

@font-face {
  font-family: Antipasto;
  src: url(../fonte/antipasto.ttf);
}

/* versão mobile first */

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background: black url(../imagens/back-phone.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

main {
  background-color: rgba(255, 255, 255, 0.778);
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  text-align: center;
  color: #707386;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.232);
  font-size: 2em;
  font-family: Antipasto;
}

#phone {
  display: block;
  margin: auto;
}

#tablet {
  display: none;
}

#print {
  display: none;
}

#pc {
  display: none;
}

#tv {
  display: none;
}
