@charset "UTF-8";

body {
  background-color: rgba(99, 76, 20, 0.392);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1#principal {
  text-align: center;
  color: rgb(175, 80, 6);
  background-color: rgba(43, 27, 27, 0.867);
}

h1 {
  color: rgb(90, 129, 33);
}

h2 {
  color: rgb(129, 91, 33);
}
