@charset "UTF-8";

body {
  background-color: rgba(99, 76, 20, 0.392);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1#principal {
  text-align: center;
  color: #b8684d;
  background-color: #d99059;
}

h1 {
  color: #b88c4b;
}

.basico {
  color: #81b177;
}

.intermediario {
  color: #afad61;
}

.avancado {
  color: #b17777;
}
