@font-face {
  font-family: 'BebasNeue';
  src: url(fontes/BebasNeue-Regular.otf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Droid';
  src: url(fontes/idroid.otf) format('opentype');
}

:root {
  --cor0: #84e1ad;
  --cor1: #fbf6f6d9;
  --cor2: #417046;
  --cor3: #30c43f;
  --cor4: #99eca1e7;
  --cor5: #bbf9c1;
  --cor6: #00970f;
  --cor7: #d0e8d0;
  --degrade-header: linear-gradient(to top,#417046,#30c43f);
  --degrade-mark: linear-gradient(to right, #99eca1e7, #bbf9c1);
  --degrade-subtitulo: linear-gradient(to right,  #99eca143, #a3e9aab0, #e4fae6b0, #f2f8f3b0, #f2f8f36d);

  --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'BebasNeue', cursive;
  --fonte-android: 'Droid', cursive;
}

body {
  background-color: var(--cor0);
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fonte-padrao);
}

.artigo {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  color: var(--cor1);
  display: flex;
  font-family: var(--fonte-destaque);
  margin: 0;
  padding-top: 10px;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: var(--degrade-header);
  width: 100%;
  padding-top: 20px;
}

iframe {
  padding: 20px 40px 20px 40px;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.descricao {
  align-items: center;
  color: var(--cor1);
  display: flex;
  justify-content: center;
  text-align: center;
}
main {
  width: 100%;
  max-width: 800px;
  min-width: 200px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

mark {
  color: var(--cor2);
  background: var(--degrade-mark);
}

nav > ul {
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.subtitulo {
  background: var(--degrade-subtitulo);
  display: flex;
  font-family: var(--fonte-android);
}

.video {
  background-color: var(--cor2);
  padding: 0;
  margin: 0;
}

p {
  text-indent: 20px;
  text-align: justify;
}

p > a {
  color: var(--cor6);
  text-decoration: none;
}

.container {
  background-color: var(--cor7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

li > a {
  color: var(--cor1);
  text-decoration: none;
  padding-right: 30px;
  padding-top: 10px;
}

ol > li {
  list-style: none;
}

ol {
  columns: 2;
  column-gap: 20px;
}

#titulo {
  color: var(--cor2);
  font-family: var(--fonte-android);
}

footer {
  color: var(--cor7);
  background-color: var(--cor2);
  text-align: center;
  padding: 5px;
  width: 100%;
}

footer > a {
  color: white;
  text-decoration: none;
}
