@font-face {
  font-family: 'BebasNeue';
  src: url(fontes/BebasNeue-Regular.otf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Droid';
  src: url(fontes/idroid.otf) format('opentype');
}

:root {
  --cor0: #84e1ad;
  --cor1: #fbf6f6d9;
  --cor2: #417046;
  --cor3: #30c43f;
  --cor4: #99eca1e7;
  --cor5: #bbf9c1;
  --cor6: #00970f;
  --cor7: #d0e8d0;
  --degrade-header: linear-gradient(to top, #417046, #30c43f);
  --degrade-mark: linear-gradient(to right, #99eca1e7, #bbf9c1, transparent);
  --degrade-subtitulo: linear-gradient(
    to right,
    #99eca143,
    #a3e9aab0,
    #e4fae6b0,
    #f2f8f3b0,
    #f2f8f36d
  );

  --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'BebasNeue', cursive;
  --fonte-android: 'Droid', cursive;
}

body {
  background-color: var(--cor0);
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fonte-padrao);
}

.artigo {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  color: var(--cor1);
  display: flex;
  font-family: var(--fonte-destaque);
  margin: 0;
  padding-top: 10px;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: var(--degrade-header);
  width: 100%;
  padding-top: 10px;
}

iframe {
  padding: 20px 40px 20px 40px;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.descricao {
  align-items: center;
  color: var(--cor1);
  display: flex;
  justify-content: center;
  text-align: center;
}
main {
  width: 100%;
  max-width: 800px;
  min-width: 200px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

main p {
  text-indent: 20px;
  text-align: justify;
  line-height: 2em;
}

main h1 {
  font-weight: normal;
}

main h2 {
  background: var(--degrade-subtitulo), var(--degrade-mark);
  display: flex;
  font-family: var(--fonte-android);
  font-size: 20px;
  font-weight: normal;
  text-indent: 10px;
  padding: 3px 0 3px 0;
}

main strong {
  color: var(--cor2);
  font-weight: bold;
}

main a:hover {
  text-decoration: underline;
}

mark {
  color: var(--cor2);
  background: var(--degrade-mark);
}

nav > ul {
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 0;
}

#titulo {
  color: var(--cor2);
  font-family: var(--fonte-android);
}

.video {
  background-color: var(--cor2);
  padding: 0;
  margin: 0;
}

p > a {
  color: var(--cor6);
  text-decoration: none;
}

.container {
  background-color: var(--cor7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

li > a {
  color: var(--cor1);
  text-decoration: none;
  padding: 5px 10px;
}

li > a:hover {
  background: var(--cor2);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.693);
  transition-duration: 0.5s;
}

ol > li {
  list-style: none;
}

ol {
  columns: 2;
  column-gap: 20px;
}

a.externo::after {
  content: '\00A0\1F517';
}

aside {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  color: var(--cor7);
  background-color: var(--cor2);
  text-align: center;
  padding: 5px;
  width: 100%;
}

footer > a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: var(--cor3);
  transition: 1s;
}

.img-pequena {
  display: block;
  max-width: 350px;
  margin: auto;
}
