* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: rgba(151, 151, 151, 0.648);
  height: 100vh;
  width: 100vw;
}

header {
  background-color: gray;
  color: white;
  padding: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  border: 1px dotted black;
  margin-bottom: 10px;
  flex: 0 0 200px;
}

header > nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav > a {
  border-radius: 5px;
  border: 1px dotted rgb(255, 0, 0);
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: black;
  padding: 5px;
  margin: 5px;
}

nav > a:hover {
  background-color: white;
  color: black;
  transition: background-color .7s;
}

main {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.351);
}